* {margin:0; padding:0; border:0;}
 html, body {
     width: auto;
     height: 100%;
     font-family:Verdana, Geneva, sans-serif;
     font-weight:bold;
     background-color:#333;
 }
 header{
     position:relative;
     background-color:#9CC;
     color:#FFF;
     width:98%;
     height:13%;
     margin: 0px auto;}
 nav{
     position:relative;
     background-color:#CC9;
     color:#FFF;
     width:98%;
     height:13%;
     margin: 0px auto;}
 section{
     position:relative;
     float:left;
     background-color:#777;
     width:50%;
     height:65%;
     color:#FFF;
 }
 article{
     background-color: #0CC;
     width:98%;
     height:58%;
     color:#FFF;
 }
 aside{
     position:relative;
     background-color:#7A7;
     width:45%;
     height:65%;
     color:#FFF;
     float:left;
 }
 footer{
     position:relative; 
    background-color:#AA7;
    width:98%;
    height:5%;
    color:#FFF;
    clear:both;
 }
header,section,footer,aside,article,nav{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin:1%;}